<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lib.share_lib">
    <application>
        <activity
            android:name=".strategy.wechat.WXEntryActivity"
            android:configChanges="orientation|locale|screenSize|layoutDirection|fontScale|screenLayout|keyboardHidden"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>
</manifest>